* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 162, 208);
    font-style: oblique;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    font-weight: bold;
    width: 300px;
    height: 120px;
    font-size: 30px;
}

td {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background: rgb(250, 250, 250);
    font-size: 22px;
}

#prov {
    background: rgb(255, 125, 125);
}

#temp {
    background: rgb(255, 255, 126);
}

#clima {
    background: rgb(120, 255, 120);
}

.bg_img{
    background-image: url("./foto/cielo.jpg");
    filter: blur(px);
    -webkit-filter: blur(px);
    height: 100vh; 
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}